<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195084400379-hb5f4os30qrrf01cmvkft4n0jlinlnkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195084400379-hb5f4os30qrrf01cmvkft4n0jlinlnkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDHP-WwCn4pIu0s4vY_aYMwhzTQ09kQdM</string>
	<key>GCM_SENDER_ID</key>
	<string>195084400379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uncleSam</string>
	<key>PROJECT_ID</key>
	<string>uncle-sam-bebb0</string>
	<key>STORAGE_BUCKET</key>
	<string>uncle-sam-bebb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195084400379:ios:8532224b330f8133fd625e</string>
</dict>
</plist>